.header_style table thead > tr > th {
background-color : #7BD3EA !important ;
color : black !important;
text-align : center !important ;
}

.header_style table thead > tr > th:nth-child(2) {
width: 250px !important;
}

